@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model LoginVM

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLR.cshtml";
}

<form method="post" asp-controller="Account" asp-action="Login" class="mt-4">

    <h3 class="text-muted mb-3" style="font-size: 24px;">@Localizer["Login"]</h3>

    <hr class="mb-4" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">@Localizer["Email"]*:</label>
        <input type="email" id="email" class="form-control" asp-for="Email" autocomplete="Email" placeholder="Enter email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3 position-relative">
        <label asp-for="Password" class="form-label">@Localizer["Password"]</label>
        <div class="input-group">
            <input type="password" id="password" class="form-control" asp-for="Password" placeholder="Enter password" />
            <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility('password', 'eyeIconPassword')">
                <i id="eyeIconPassword" class="bi bi-eye"></i>
            </button>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    


    <div class="mb-3 form-check">
        <input type="checkbox" id="RememberMe" class="form-check-input" asp-for="RememberMe" />
        <label class="form-check-label" for="RememberMe">@Localizer["Remember Me"]</label>
    </div>

    <div class="row mb-3">
        <div class="col-6">
            <a class="btn btn-outline-primary btn-block py-2" asp-controller="Account" asp-action="ForgetPassword" asp-route-id="@Model">
                <i class="fas fa-key"></i> @Localizer["Forget Password"]
            </a>
        </div>
        <div class="col-6">
            <a class="btn btn-outline-primary btn-block py-2" asp-controller="Account" asp-action="ForgetUser" asp-route-id="@Model">
                <i class="fas fa-user"></i> @Localizer["Forget UserName"]
            </a>
        </div>
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-primary rounded-pill py-3 px-4" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
            @Localizer["Login"]
        </button>
    </div>
</form>

@section scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}
