@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model LoginVM

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLR.cshtml";
}

<form method="post">

    <h3 class="text-muted ab-1" style="font-size:20px;">@Localizer["Login"]</h3>

    <hr />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Email"> @Localizer["Email"]*:</label>
        <input type="email" id="email" class="form-control" asp-for="Email" autocomplete="Email" placeholder="Enter email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password">@Localizer["Password"]</label>
        <input type="password" id="password" class="form-control" asp-for="Password" placeholder="Enter password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>
            <input type="checkbox" id="RememberMe" asp-for="RememberMe" />@Localizer["Remember Me"]
            
        </label>
    </div>

    <div class="float-end">
        <button type="submit" class="btn btn-primary rounded-pill py-3 px-4 d-none d-lg-block" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
            @Localizer["Login"]
        </button>
    </div>
</form>
@section scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}