@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model RegisterVM
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutLR.cshtml";

}

<form method="post" asp-controller="Account" asp-action="Register" class="mt-4">

    <h3 class="text-muted ab-1" style="font-size:20px;">@Localizer["Create An Account"]</h3>

    <hr />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div> <!-- Corrected syntax -->

    <div class="mb-3">
        <label asp-for="UserName">@Localizer["UserName"]</label> <!-- Corrected syntax -->
        <input type="text" class="form-control" asp-for="UserName" placeholder="@Localizer["Enter UserName"]" />
        <span asp-validation-for="UserName" class="text-danger"></span> <!-- Corrected syntax -->
    </div>

    <div class="mb-3">
        <label asp-for="Email">@Localizer["Email"]</label> <!-- Corrected syntax -->
        <input type="email" class="form-control" asp-for="Email"  placeholder="@Localizer["Enter email"]" />
        <span asp-validation-for="Email" class="text-danger"></span> <!-- Corrected syntax -->
    </div>

    <div class="mb-3 position-relative">
        <label asp-for="Password" class="form-label">@Localizer["Password"]</label>
        <div class="input-group">
            <input type="password" id="password" class="form-control" asp-for="Password" placeholder="Enter password" />
            <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility('password', 'eyeIconPassword')">
                <i id="eyeIconPassword" class="bi bi-eye"></i>
            </button>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3 position-relative">
        <label asp-for="ConfirmPassword" class="form-label">@Localizer["ConfirmPassword"]</label>
        <div class="input-group">
            <input type="password" id="confirmPassword" class="form-control" asp-for="ConfirmPassword" placeholder="Enter confirm password" />
            <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility('confirmPassword', 'eyeIconConfirmPassword')">
                <i id="eyeIconConfirmPassword" class="bi bi-eye"></i>
            </button>
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary rounded-pill py-3 px-4 d-none d-lg-block" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
            @Localizer["Register"]
        </button>
    </div>


</form>

    @section scripts {
        <partial name ="_ValidationScriptsPartial.cshtml"/>
    }